* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Copperplate, Papyrus, fantasy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 70%;
  margin:auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overview{
  text-align: center;
  margin: auto 1rem auto 1rem;
}

@media(min-width: 50rem){
  .overview{
      display: grid;
      gap:1.5rem;
      grid-template-columns: repeat(4,1fr);

  }
}