* {
    box-sizing: border-box;
  }

.ActionPane {
    font-size: 3rem;
    margin: 10rem auto 5rem  auto;
    width: 70%;
    max-width: 45ch;
    text-align: center;
}
.ActionPanePoints {
    color: red;
    font-size: 3.8rem;
    font-style:italic;
    font-weight: bold;
    border-bottom: 0.2rem solid;
}

.overview{

    text-align: center;
    margin: auto 2rem auto 2rem;
}

.upskillbutton{
    font-size: 1.4rem;
    background-color: #555555;
    color: white;
    border: none;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 15%;
    font-family: Copperplate, Papyrus, fantasy;
}


@media(min-width: 50em){
    .overview{
        display: grid;
        gap:1.5rem;
        grid-template-columns: repeat(4, 1fr);
        
    }
    .column{
        border: 2px solid black;
        font-size: 1.5rem;
        border-radius: 15%;
    }

}
